<nav class="navbar navbar-expand-lg">
<a class="navbar-brand ms-5" href="#" id="logo">LOGO</a>
    <button class="navbar-toggler bg-light" id="button-navbar" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars me-3"></i>
    </button>

<div class="collapse navbar-collapse justify-content-end me-5">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link a-nav" href="/">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link a-nav" href="/about">ABOUT</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle a-nav" href="#" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TEAMS</a>
<div class="dropdown-menu" aria-labelledby="dropdown05">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link a-nav" href="/contact-me" >CONTACT</a>
    </li>
<li class="nav-item dropdown">
<a
    class="nav-link dropdown-toggle d-flex align-items-center"
    href="#"
    id="navbarDropdownMenuLink"
    role="button"
    data-mdb-toggle="dropdown"
    aria-expanded="false"
>
    <img
    src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg"
    class="rounded-circle"
    height="55"
    alt=""
    loading="lazy"
    />
</a>
<ul class="dropdown-menu" id="avatar" aria-labelledby="navbarDropdownMenuLink">
    <li>
    <a class="dropdown-item" href="#">Mi Perfil</a>
    </li>
    <li>
    <a class="dropdown-item" href="#">Configuraciones</a>
    </li>
    <li>
    <a class="dropdown-item" href="#">Cerrar Secion</a>
    </li>
</ul>
</li>            
    </ul>
</div>
</nav>