<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <link href="css/about.css" rel="stylesheet">

    <title>{{ title }}</title>
</head>
<body>
    <main>
        <div class="main-sector">
        {{> header }}
        <div class='container mt-5'>
            <div class="row mt-5 pb-5">
                <div class="col-md-3 order-md-1">
                    <div class="circle">
                        
                    </div>
                </div>
                <div class="col-md-9 pt-5 text-header order-md-2">
                    In at feugiat augue. Suspendisse at est vitae sapien mollis faucibus eu in dolor. Nullam convallis, orci auctor vulputate ultricies, mauris quam ultricies orci, et vestibulum elit tortor nec justo. Duis tempor bibendum placerat. Etiam ut dolor viverra mi posuere ullamcorper nec sed nibh. Vivamus nunc sem, lobortis non lectus quis, eleifend posuere orci. Duis in ultricies odio. In vel ornare mauris. Nunc rhoncus eros erat, vel elementum ante pharetra sit amet. Sed gravida nisl nec leo fermentum tincidunt. 
                    Aliquam cursus ex a sem dignissim vestibulum. Mauris euismod justo sem, id ornare libero iaculis a. Etiam convallis aliquam augue.
                </div>
            </div>
        </div>
        </div>

    </main>
    <section>
        <div class="container mt-5">
            <div class="note">
                <div class="row m-3 pt-3 pb-3">
                    <div class="col-md-5">
                        <img src="img/Starry night Image.png" class="col-image">
                    </div>
                    <div class="col-md-7 col-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper faucibus dolor, ut ultricies mauris fermentum malesuada. Fusce ac metus nec dui varius volutpat. Sed ac est suscipit, consequat ipsum nec, accumsan nunc. Pellentesque at purus ac elit accumsan molestie.
                         Aliquam euismod enim justo, eget faucibus felis tempus a. Morbi id sollicitudin nulla. Ut tempus tincidunt nisl, a volutpat mi lacinia ut.
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="note">
                <div class="row m-3 pt-3 pb-3">
                    <div class="col-md-7 col-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper faucibus dolor, ut ultricies mauris fermentum malesuada. Fusce ac metus nec dui varius volutpat. Sed ac est suscipit, consequat ipsum nec, accumsan nunc. Pellentesque at purus ac elit accumsan molestie.
                         Aliquam euismod enim justo, eget faucibus felis tempus a. Morbi id sollicitudin nulla. Ut tempus tincidunt nisl, a volutpat mi lacinia ut.
                    </div>
                    <div class="col-md-5">
                        <img src="img/Starry night Image.png" class="col-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="note">
                <div class="row m-3 pt-3 pb-3">
                    <div class="col-md-5">
                        <img src="img/Starry night Image.png" class="col-image">
                    </div>
                    <div class="col-md-7 col-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper faucibus dolor, ut ultricies mauris fermentum malesuada. Fusce ac metus nec dui varius volutpat. Sed ac est suscipit, consequat ipsum nec, accumsan nunc. Pellentesque at purus ac elit accumsan molestie.
                         Aliquam euismod enim justo, eget faucibus felis tempus a. Morbi id sollicitudin nulla. Ut tempus tincidunt nisl, a volutpat mi lacinia ut.
                    </div>
                </div>
            </div>
        </div>
        <div class="container circles-section mt-5" id="circles-section">
            <div class="row">
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="150" height="150" role="img" perserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" >
                        <title>Placegolder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                    </svg>
                    <h2>Heading</h2>
                    <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                    <p><a class="btn btn-primary" href="#">Ver Mas</a></p>
                
                </div>
                <div class="col-lg-4">
                    <svg class="bd-placeholder-img rounded-circle" width="150" height="150" role="img" perserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" >
                        <title>Placegolder</title>
                        <rect width="100%" height="100%" fill="#777"></rect>
                    </svg>
                    <h2>Heading</h2>
                    <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                    <p><a class="btn btn-primary" href="#">Ver Mas</a></p>
                
                </div>
            <div class="col-lg-4">
                <svg class="bd-placeholder-img rounded-circle" width="150" height="150" role="img" perserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg" >
                    <title>Placegolder</title>
                    <rect width="100%" height="100%" fill="#777"></rect>
                </svg>
                <h2>Heading</h2>
                <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
                <p><a class="btn btn-primary" href="#">Ver Mas</a></p>
            
            </div>
            </div>
        </div>
    </section>

        <!-- Footer -->
    {{> footer }}

<!-- Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/app.js" type="module"></script>
    <script src="js/animations.js" type="module"></script>
    <script>
        let executed = false;

        gsap.from('.circle', {
            duration: 3,
            ease: 'expo.out',
            opacity:0,
            x: -400
        })

        gsap.from('.text-header', {
            duration: 2,
            ease: 'out.out',
            x: 1000,
            opacity: 0
        })

        gsap.from('.note', {
            duration: 2,
            scale: 0.5,
            opacity: 0,
            delay: 0.5,
            stagger: 0.2,
            ease: "elastic",
            force3D: true
        })

        document.addEventListener('DOMContentLoaded', (e) => {

            const observer = new IntersectionObserver( entries => {
                if(!executed) {
                    if(entries[0].isIntersecting) {
                        gsap.from(".col-lg-4", {
                            duration: 2,
                            scale: 0.5, 
                            opacity: 0, 
                            delay: 0.2, 
                            stagger: 0.2,
                            ease: "bounce", 
                            force3D: true
                        });
                        executed = true;
                    }
                }
            })

            observer.observe(document.querySelector('#circles-section'));
        })


    </script>
</body>
</html>