<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 ">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>{{ titulo }}</title>
  </head>
  <body>
    <main>
    <!-- Header -->
    {{> header }}
      
      <div class="container--first">
        <div class="h1 m-5 pt-5" >
          {{ head }}
          <div class="subtitle pb-5">
            <p>WEBSITE</p>
          </div>
        </div>
      </div>

      <div class="bottom-0 start-0 m-5 p-3 " id="text-content-main">
        <h3 class="line">TOURNAMENTS</h3>
        <div class="contenido">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae aliquet massa mollis imperdiet turpis curabitur. Sed consequat luctus vitae eu condimentum venenatis. Magna pulvinar eget quis fringilla sed risus a sed. Ullamcorper dictum dolor magna id amet. Eu elementum at malesuada odio.
            Condimentum venenatis. Magna pulvinar eget quis fringilla sed risus a sed. Ullamcorper dictum dolor magna id amet. Eu elementum at malesuada odio.</p>
        </div>
      </div>
    </main> 

    <section class="section-two">
      <div class="container container--scroll">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 p-5" id="partner">
          <div class="col align-center text-center">
            PARTNER1
          </div>
          <div class="col align-center text-center">
            PARTNER2
          </div>
          <div class="col align-center text-center">
            PARTNER3
          </div>
        </div>

        <div class="mt-5" id="cards">
          <h3 class="sec-2-title text-center mb-5">TORNEOS AGENDADOS</h3>
                <div class="row">
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card mb-4 shadow-sm text-white bg-dark">
                    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
                    <div class="card-body">
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-info">View</button>
                          <button type="button" class="btn btn-sm btn-outline-info">Edit</button>
                        </div>
                        <small class="text-white ">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
      </div>

    </section>

    <!-- Footer -->
    {{> footer }}
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/app.js" type="module"></script>
    <script src="js/animations.js" type="module"></script>
    <script type="text/javascript">
    let executed = false;

    document.addEventListener('DOMContentLoaded', (e) => {

        const observer = new IntersectionObserver( entries => {
            if(!executed) {
                if(entries[0].isIntersecting) {
                    gsap.from(".card", {
                        duration: 2,
                        scale: 0.5, 
                        opacity: 0, 
                        delay: 0.5, 
                        stagger: 0.2,
                        ease: "elastic", 
                        force3D: true
                    });
                    executed = true;
                    console.log('Ya esta visible premium')
                }
            }

        })

        observer.observe(document.querySelector('#cards'));
    })
  </body>
</html>